#title {
  background-color: #283350;
  color: lightgray;
  border: 1px solid black;
  padding: 25px;
  text-align: center;
}

#riddle1 {
  float: left;
  background-color: #283350;
  color: lightgray;
  border: 1px solid black;
  padding: 25px;
  text-align: center;
  width: 45%;
}

#riddle2 {
  float: left;
  background-color: #283350;
  color: lightgray;
  border: 1px solid black;
  padding: 25px;
  text-align: center;
  width: 45%;
}
